/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.button {

    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #39a7ca;

    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button:hover {
    -fx-background-color: #49B7Da;
}
.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #2997Fa;
}
 .button {
        -fx-margin: 4 4 4 4;
        
    
}
#emoticon{
    -fx-font: 100px Droid Sans Fallback;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, darkgrey 0%, gray 50%);
    -fx-stroke: transparent;
    -fx-stroke-width: 1;

}

